@use "../../styles/variables.scss";

.counter {
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: auto 6rem auto;
	gap: 4rem;
	margin: 20rem auto 0;
	width: fit-content;

	&__text {
		font-size: 6rem;
		font-family: variables.$font-heading;
	}

	&__button {
		display: flex;
		align-items: center;
		font-size: 3rem;
		padding: 1rem;
		border: 0.2rem variables.$black solid;
		border-radius: 1rem;
		background-color: variables.$yellow;
		cursor: pointer;
		transition: transform ease-out 0.1s, box-shadow ease-out 0.1s;

		&:hover {
			box-shadow: 0.25rem 0.25rem 0 variables.$black;
			transform: translateX(-0.25rem) translateY(-0.25rem);
		}

		&:active {
			box-shadow: 0 0 0 variables.$black;
			transform: translateX(0) translateY(0);
		}
	}
}
