@use "./variables.scss";
@use "./layout.scss";
@import "./preflight.scss";

body {
	background-color: #f4f4ff;
}

*::-webkit-scrollbar {
	width: 0.75rem;
	background-color: transparent;
	border-radius: 1rem;
}

*::-webkit-scrollbar-thumb {
	width: 0.75rem;
	background-color: rgba($color: variables.$black, $alpha: 0.4);
	border-radius: 1rem;
}

.url,
a {
	color: variables.$deep-blue;
}
