$background: #f1ebeb;
$black: #3a383c;
$pink: #fca2e1;
$yellow: #f9e3a9;
$white: #ffffff;
$offwhite: #dbdae6;
$teal: #6be4dc;
$blue: #93b5ff;
$deep-blue: #4a6cb6;

$font-heading: "Unbounded", sans-serif;
$font-body: "Space Grotesk", sans-serif;
$font-mono: "Jetbrains Mono", monospace;

$code-fg: #1e2779;
$code-bg: #d7daef;
