@use "../../styles/variables.scss";

.container {
	position: relative;
	max-width: 1400px;
	height: 100%;
	margin: 0 auto;
	padding: 2rem;
	display: grid;
	gap: 2rem;
	grid-template-columns: 42rem 1fr;
}

.main-content {
	position: relative;
	height: 100%;
	max-height: inherit;
}
