@use "../../styles/variables";
@use "../../styles/mixins";

.placeholder {
	&-box {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		width: 100%;
		height: 100%;
		align-items: flex-start;
		justify-content: center;
		padding-inline: 8rem;
	}

	&-title {
		font-family: variables.$font-body;
		color: variables.$black;
		font-size: 8rem;
		font-weight: 800;
	}

	&-content {
		font-family: variables.$font-body;
		color: rgba($color: variables.$black, $alpha: 0.9);
		font-size: 2.4rem;
		line-height: 2em;
		margin-block: 1rem;
	}

	&-arrow {
		width: 6rem;
		height: auto;
	}
}

.chat-box {
	@include mixins.white-box;
	margin-top: 4rem;
	position: relative;
	height: calc(100% - 4rem);
	display: flex;
	flex-direction: column;

	&::before {
		@include mixins.white-box;
		content: "";
		position: absolute;
		left: 2rem;
		right: 2rem;
		top: -1.2rem;
		height: 10rem;
		z-index: -1;
		background-color: variables.$offwhite;
	}

	&-title {
		@include mixins.white-box;
		position: absolute;
		padding: 1rem 2rem;
		font-family: variables.$font-heading;
		font-size: 2rem;
		font-weight: 700;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		z-index: 20;
	}

	&-container {
		position: absolute;
		inset: 0;
		overflow: hidden;
		border-radius: 3rem;
	}

	&-content {
		scroll-padding-top: 4rem;
		position: relative;
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
		overflow-y: scroll;
		height: 100%;
		width: 100%;
		padding: 2rem;
		padding-top: 6rem;
		scroll-behavior: smooth;
	}
}

.home-button {
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	z-index: 99;
	font-size: 18px;
	outline: none;
	font-weight: bold;    
	align-items: center;
    background-color: #93b5ff;
    border: .2rem solid #3a383c;
    border-radius: 99rem;
    color: #3a383c;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: auto;
}

@media screen and (min-width: 768px) {
	.home-button {
	  display: none;
	}
  }