---
import ChatBubble from "./ChatBubble.astro";

type Chat = {
	text: string;
	time: Date;
};

// prettier-ignore
const chats: Chat[] = [
  { text: "Hi there! If you're looking to improve your Rust skills, I highly recommend starting with the Rust programming book.", time: new Date(2021, 9, 1, 10, 0) },
  { text: "It's a great resource for learning the basics and understanding the fundamentals of the language.", time: new Date(2021, 9, 1, 10, 15) },
  { text: "Once you have a solid foundation, I recommend working on small projects to practice and apply what you've learned.", time: new Date(2021, 9, 1, 10, 30) },
  { text: "Also, don't forget to use the Rust community resources like the Rust forums and the Rust programming subreddit for help and guidance.", time: new Date(2021, 9, 1, 10, 45) },
  { text: "Another tip is to practice implementing common data structures and algorithms in Rust to solidify your understanding of the language.", time: new Date(2021, 9, 1, 11, 0) },
  { text: "It's also important to familiarize yourself with the standard library and crates available in the Rust ecosystem.", time: new Date(2021, 9, 1, 11, 15) },
  { text: "I suggest starting with the most commonly used crates such as serde, reqwest and actix-web", time: new Date(2021, 9, 1, 11, 30) },
  { text: "Also, don't be afraid to contribute to open-source Rust projects to learn from other experienced Rust developers.", time: new Date(2021, 9, 1, 11, 45) },
  { text: "Another way of improving is by taking part in Rust programming challenges or participating in hackathons.", time: new Date(2021, 9, 1, 12, 0) },
  { text: "Participating in these challenges will give you hands-on experience and help you learn more about the language and its best practices.", time: new Date(2021, 9, 1, 12, 15) },
  { text: "You can also join Rust user groups or meetups in your area to connect with other Rust developers and learn from them.", time: new Date(2021, 9, 1, 12, 30) },
  { text: "Attending conferences and listening to talks by experienced Rust developers is another great way to learn more about the language.", time: new Date(2021, 9, 1, 12, 45) },
  { text: "You can also use online resources such as rust-lang.org, rustbyexample and rust-learning to continue learning Rust.", time: new Date(2021, 9, 1, 13, 0) },
  { text: "Don't forget to take breaks and give yourself time to absorb what you've learned. It's important to not burn out.", time: new Date(2021, 9, 1, 13, 15) },
  { text: "Finally, keep in mind that practice makes perfect, so keep at it and don't be afraid to make mistakes - that's how we learn!", time: new Date(2021, 9, 1, 13, 30) },
]
---

<div class="chat-box">
	<div class="chat-box-title">Some Random Chat Title</div>
	<div class="chat-box-container">
		<div class="chat-box-content">
			{chats.map((chat) => <ChatBubble {...chat} />)}
		</div>
	</div>
</div>

<style lang="scss">
	@use "../styles/variables";
	@use "../styles/mixins";

	.chat-box {
		@include mixins.white-box;
		margin-top: 4rem;
		position: relative;
		height: calc(100% - 4rem);

		&::before {
			@include mixins.white-box;
			content: "";
			position: absolute;
			left: 2rem;
			right: 2rem;
			top: -1.2rem;
			height: 10rem;
			z-index: -1;
			background-color: variables.$offwhite;
		}

		&-title {
			@include mixins.white-box;
			position: absolute;
			padding: 1rem;
			font-family: variables.$font-heading;
			font-size: 2rem;
			font-weight: 700;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			z-index: 20;
		}

		&-container {
			height: 100%;
			overflow: hidden;
			border-radius: 3rem;
		}

		&-content {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 2rem;
			height: 100%;
			width: 100%;
			padding: 2rem;
			padding-top: 4rem;
			overflow-y: scroll;
		}
	}
</style>
