---
import ChatBubble from "./ChatBubble.astro";

type Chat = {
	text: string;
	time: Date;
};

// prettier-ignore
const chats: Chat[] = [
  { text: "Hi there! If you're looking to improve your Rust skills, I highly recommend starting with the Rust programming book.", time: new Date(2021, 9, 1, 10, 0) },
  { text: "It's a great resource for learning the basics and understanding the fundamentals of the language.", time: new Date(2021, 9, 1, 10, 15) },
  { text: "Once you have a solid foundation, I recommend working on small projects to practice and apply what you've learned.", time: new Date(2021, 9, 1, 10, 30) },
  { text: "Also, don't forget to use the Rust community resources like the Rust forums and the Rust programming subreddit for help and guidance.", time: new Date(2021, 9, 1, 10, 45) },
  { text: "Another tip is to practice implementing common data structures and algorithms in Rust to solidify your understanding of the language.", time: new Date(2021, 9, 1, 11, 0) },
  { text: "It's also important to familiarize yourself with the standard library and crates available in the Rust ecosystem.", time: new Date(2021, 9, 1, 11, 15) },
  { text: "I suggest starting with the most commonly used crates such as serde, reqwest and actix-web", time: new Date(2021, 9, 1, 11, 30) },
  { text: "Also, don't be afraid to contribute to open-source Rust projects to learn from other experienced Rust developers.", time: new Date(2021, 9, 1, 11, 45) },
  { text: "Another way of improving is by taking part in Rust programming challenges or participating in hackathons.", time: new Date(2021, 9, 1, 12, 0) },
  { text: "Participating in these challenges will give you hands-on experience and help you learn more about the language and its best practices.", time: new Date(2021, 9, 1, 12, 15) },
  { text: "You can also join Rust user groups or meetups in your area to connect with other Rust developers and learn from them.", time: new Date(2021, 9, 1, 12, 30) },
  { text: "Attending conferences and listening to talks by experienced Rust developers is another great way to learn more about the language.", time: new Date(2021, 9, 1, 12, 45) },
  { text: "You can also use online resources such as rust-lang.org, rustbyexample and rust-learning to continue learning Rust.", time: new Date(2021, 9, 1, 13, 0) },
  { text: "Don't forget to take breaks and give yourself time to absorb what you've learned. It's important to not burn out.", time: new Date(2021, 9, 1, 13, 15) },
  { text: "Finally, keep in mind that practice makes perfect, so keep at it and don't be afraid to make mistakes - that's how we learn!", time: new Date(2021, 9, 1, 13, 30) },
]
---

<div class="chat-box">
	<div class="chat-box-content">
		{chats.map((chat) => <ChatBubble {...chat} />)}
	</div>
</div>

<style lang="scss">
	@use "../styles/variables";

	.chat-box {
		position: relative;
		height: inherit;
		overflow: hidden;
		border-radius: 3rem;
		border: 0.2rem variables.$black solid;
		background-color: variables.$white;

		&-content {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 2rem;
			height: 100%;
			width: 100%;
			padding: 2rem;
			overflow-y: scroll;
		}
	}
</style>
