---
import "~/styles/global.scss";
import "@fontsource/space-grotesk/500.css";
import "@fontsource/space-grotesk/600.css";
import { Sidebar } from "./sidebar";

const chats = [
	{ name: "Manusia Bernapas", summary: "Some random tips about something", tags: ["anu", "something"] },
	{ name: "Anonymous", summary: "Dikira gadis ternyata buntutnya empat", tags: ["random"] },
	{ name: "Hooman", summary: "Beli bakwan makan ketupan, nganu sih", tags: ["akhlak", "bakwan"] },
	{ name: "Manusia Bernapas", summary: "Some random tips about something", tags: ["anu", "something"] },
	{ name: "Anonymous", summary: "Dikira gadis ternyata buntutnya empat", tags: ["random"] },
	{ name: "Hooman", summary: "Beli bakwan makan ketupan, nganu sih", tags: ["akhlak", "bakwan"] },
	{ name: "Manusia Bernapas", summary: "Some random tips about something", tags: ["anu", "something"] },
	{ name: "Anonymous", summary: "Dikira gadis ternyata buntutnya empat", tags: ["random"] },
	{ name: "Hooman", summary: "Beli bakwan makan ketupan, nganu sih", tags: ["akhlak", "bakwan"] },
	{ name: "Manusia Bernapas", summary: "Some random tips about something", tags: ["anu", "something"] },
	{ name: "Anonymous", summary: "Dikira gadis ternyata buntutnya empat", tags: ["random"] },
	{ name: "Hooman", summary: "Beli bakwan makan ketupan, nganu sih", tags: ["akhlak", "bakwan"] },
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="container">
			<Sidebar client:load chats={chats} />
			<div class="main-content">
				<slot />
			</div>
		</div>
	</body>
</html>

<style lang="scss">
	.container {
		position: relative;
		max-width: 1400px;
		height: 100%;
		margin: 0 auto;
		padding: 2rem;
		display: grid;
		gap: 2rem;
		grid-template-columns: 40rem 1fr;
	}

	.main-content {
		position: relative;
		height: 100%;
		max-height: inherit;
		overflow: hidden;
	}
</style>
