---
import "~/styles/global.scss";
import "@fontsource/space-grotesk/500.css";
import "@fontsource/space-grotesk/600.css";
import Navbar from "./Navbar.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>
