<nav class="navbar">
	<h1 class="heading">Thank God It's Friday!</h1>
</nav>

<style lang="scss">
	@use "../styles/variables.scss";

	.navbar {
		padding: 2rem 8rem;
		border: 0.4rem variables.$black solid;
		border-radius: 2rem;
		background-color: variables.$orange;
		width: fit-content;
		position: absolute;
		top: 2rem;
		left: 50%;
		transform: translateX(-50%);
		box-shadow: 0.5rem 0.5rem 0 variables.$black;
	}

	.heading {
		font-family: variables.$font-heading;
		font-size: 4rem;
		color: variables.$white;
	}
</style>
