@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

.sidebar {
	position: relative;
	max-height: inherit;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.search-container,
.chats-content {
	@include mixins.white-box;
}

.search {
	&-shadow {
		@include mixins.shadow;
	}

	&-container {
		position: relative;
		padding: 1rem;
		display: flex;
		gap: 1rem;
	}

	&-input {
		flex: 1;
		border: none;
		outline: none;
		font-family: variables.$font-heading;
		padding-block: 1rem;
		padding-inline: 2rem;
	}

	&-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: variables.$blue;
		padding: 1rem;
		border-radius: 99rem;
		color: variables.$black;
		border: 0.2rem variables.$black solid;
	}
}

.chats {
	&-container {
		position: relative;
		flex: 1;
		overflow-y: hidden;
		border-radius: 3rem;
	}

	&-content {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		height: 100%;
		width: 100%;
		padding: 2rem;
		overflow-y: scroll;
	}
}
