@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

.chat {
	&-bubble {
		position: relative;
		background-color: variables.$white;
		border: 0.2rem variables.$black solid;
		width: fit-content;
		max-width: 80rem;
		min-width: 10rem;
		padding: 2.5rem 2rem 1.5rem 2rem;
		border-radius: 0 3rem 3rem 3rem;
		box-shadow: 0.4rem 0.4rem 0 0 variables.$teal, 0.4rem 0.4rem 0 0.2rem variables.$black;
	}

	&-sender {
		@include mixins.white-box;
		white-space: nowrap;
		font-family: variables.$font-heading;
		position: absolute;
		padding: 0.25rem 1rem;
		left: 1rem;
		top: 0;
		transform: translateY(-50%);
		font-size: 1.25rem;
		font-weight: 600;
		width: fit-content;
	}

	&-reply {
		&-box {
			border-left: 0.2rem rgba($color: variables.$black, $alpha: 0.5) solid;
			padding-left: 1rem;
			margin-block: 1rem;
		}

		&-sender {
			font-weight: 600;
			opacity: 0.75;
		}

		&-content {
			color: rgba($color: variables.$black, $alpha: 0.75);
		}
	}

	&-content {
		font-family: variables.$font-body;
		font-size: 1.75rem;
		font-weight: 400;
		line-height: 1.8em;
		color: variables.$black;

		p {
			display: inline;
		}

		pre {
			padding: 1.5rem;
			border-radius: 1rem;
			background-color: variables.$code-bg;
		}

		pre code {
			padding: 0;
			background-color: variables.$white;
		}

		code {
			border-radius: 1rem;
			padding: 0.25rem 0.75rem;
			background-color: variables.$code-bg;
			color: variables.$code-fg;
			font-family: variables.$font-mono;
			font-size: 1.5rem;
			font-weight: 600;
		}

		ul {
			list-style-position: inside;
		}
	}

	&-media {
		width: 20rem;
		height: auto;
	}
}
